.app-wrapper{
    padding: 0 100px;
    display: grid;

grid-template-areas:
"header header"
"navigation content"
;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}
.header{
    grid-area: header;
    background-color: silver;
}
.nav{
    grid-area: navigation;
    background-color: silver;
}
.sideBarMenu{
    list-style-type: none;
    text-decoration: none;
}
.content{
    grid-area: content;
    background-color: cornsilk;
}
.Image{
width: 1000px;
}